{% extends "@email/default/notification/body.html.twig" %}

{% block lead %}
    {% if importance is not null %}<small><strong>{{ importance|upper }}</strong></small>{% endif %}
    <p class="lead">
        {{ subject }}
    </p>
{% endblock %}

{% block content %}
    {{ content|raw }}
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('reset_password', {token: request_password.token}) }}">{{ action_text }}</button>
{% endblock %}