{% extends '@FastfonyIdentity/layout.html.twig' %}

{% trans_default_domain 'FastfonyIdentityBundle' %}

{% block body %}
    <div class="ff-wrapper">
        <div class="ff-card">
            <h2 class="ff-title">
                {{ 'title.login.h2'|trans }}
            </h2>

            {% if form is defined %}
                {{ form_start(form) }}
                    <div class="ff-form-group">
                        <label class="ff-label" for="username">
                            {{ 'label.email'|trans }}
                        </label>
                        <div>
                            {{ form_widget(
                                form.email,
                                {
                                    attr: {
                                        class: 'ff-input',
                                        autocomplete: 'email',
                                        tabindex: '1',
                                        autofocus: 'autofocus'
                                    }
                                }
                            ) }}
                            <div class="ff-form-error">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>

                    <div class="ff-links-group ff-links-group-start">
                        <a class="ff-link" href="{{ path('form_login') }}">
                            {{ 'link.request_link.login'|trans }}
                        </a>
                    </div>

                    <div>
                        <button class="ff-btn" type="submit">
                            {{ 'button.login_link.submit'|trans }}
                        </button>
                    </div>
                {{ form_end(form) }}
            {% else %}
                <div class="ff-success-container">
                    <div class="ff-success-icon">
                        <svg width="48" height="48" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                        </svg>
                    </div>

                    <p class="ff-text-sm">{{ 'text.login_link.link_sent_validity'|trans({'%lifetime%': lifetime}) }}</p>
                </div>
            {% endif %}

            {% if registration_enabled %}
                <p class="ff-footer">
                    {{ 'text.login.no_account'|trans }}
                    <a class="ff-link" href="{{ path('register') }}">
                        {{ 'link.request_link.create_account'|trans }}
                    </a>
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}