{% extends '@FastfonyIdentity/layout.html.twig' %}

{% trans_default_domain 'FastfonyIdentityBundle' %}

{% block body %}
    <div class="ff-wrapper">
        <div class="ff-card">
            <h2 class="ff-title">
                {{ 'title.register.h2'|trans }}
            </h2>
            {% if default_login_method is defined %}
                <p class="ff-footer-top">
                    {{ 'text.register.already_account'|trans }}
                    <a class="ff-link" href="{{ path(default_login_method) }}">
                        {{ 'link.register.login'|trans }}
                    </a>
                </p>
            {% endif %}

            {% if form is defined %}
                {{ form_start(form) }}
                    <div class="ff-form-group">
                        {{ form_label(
                            form.email,
                            'label.email',
                            {
                                translation_domain: 'FastfonyIdentityBundle',
                                label_attr: {class: 'ff-label'}
                            }
                        ) }}
                        <div>
                            {{ form_widget(
                                form.email,
                                {
                                    attr: {
                                        autocomplete: 'email',
                                        class: 'ff-input',
                                        autofocus: 'autofocus'
                                    }
                                }
                            ) }}
                            <div class="ff-form-error">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>

                    <div class="ff-checkbox-group">
                        {{ form_widget(form.agreeWithTerms, {
                            attr: {
                                class: 'ff-checkbox-input'
                            }
                        }) }}
                        {{ form_label(
                            form.agreeWithTerms,
                            'text.register.agree_with_terms',
                            {
                                translation_domain: 'FastfonyIdentityBundle',
                                label_attr: {class: 'ff-checkbox-label'}
                            }
                        ) }}
                    </div>

                    <div>
                        <button class="ff-btn" type="submit">
                            {{ 'button.register.submit'|trans }}
                        </button>
                    </div>
                {{ form_end(form) }}
            {% else %}
                <div class="ff-success-container">
                    <div class="ff-success-icon">
                        <svg width="48" height="48" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                        </svg>
                    </div>

                    <p class="ff-text-sm">{{ 'text.register.link_sent_validity'|trans({'%lifetime%': lifetime}) }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
