{% extends '@FastfonyIdentity/layout.html.twig' %}

{% trans_default_domain 'FastfonyIdentityBundle' %}

{% block body %}
    <div class="ff-wrapper">
        <div class="ff-card">
            <h2 class="ff-title-with-back ff-title">
                <a class="ff-back-link" href="{{ path('form_login') }}" aria-label="{{ 'link.back_to_login'|trans|default('Back to login') }}">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="m15 18-6-6 6-6"/></svg>
                </a>
                <span>{{ 'title.reset_password.h2'|trans }}</span>
            </h2>

            {{ form_start(form, {attr: {}}) }}
                <div class="ff-form-group">
                    <label class="ff-label" for="username">
                        {{ 'label.password'|trans }}
                    </label>
                    <div>
                        {{ form_widget(
                            form.password,
                            {
                                attr: {
                                    class: 'ff-input',
                                    autofocus: 'autofocus'
                                }
                            }
                        ) }}
                        <div class="ff-form-error">
                            {{ form_errors(form.password) }}
                        </div>
                    </div>
                </div>

                <div>
                    <button class="ff-btn" type="submit">
                        {{ 'button.reset_password.submit'|trans }}
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
